# File environment
telegramReports/rahasia.env
.env
.env.local
debug_kedebug.py

# Folder virtual environment
venv/
.env/
.venv/
reports.local/

# File cache
__pycache__/
*.pyc
*.pyo
*.pyd

# File build
dist/
build/
*.egg-info/

# File log
*.log